<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="/assets/images/logo-icon.svg" alt="Seizon"> Seizon</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Jordan</a></li>
        <li><a href="settings.html">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Dashboard</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="#">Reports</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>