.navbar-inverse .navbar-nav > li > a {
  border-bottom: 2px solid transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover {
  border-bottom: 2px solid #fff;
}

.navbar-inverse .navbar {
  &-brand {
    font-weight: bold;
    color: $body-bg;

    img {
      display: inline;
      height: 30px;
    }
  }
}