<div class="panel seizon-timer" ng-if="size == 'large'" ng-class="{'panel-primary': timerRunning == false, 'panel-warning': timerRunning == true}">
  <div class="panel-heading">
    <h2 class="time-remaining">
      <timer autostart="false" interval="1000">{{hhours}}<small>h</small> {{mminutes}}<small>m</small> {{sseconds}}<small>s</small></timer>
      <a class="btn btn-fab pull-right" ng-click="startStopTimer()" ng-class="{'btn-success': timerRunning == false, 'btn-danger': timerRunning == true}"><i class="fa fa-lg" ng-class="{'fa-play': timerRunning == false, 'fa-stop': timerRunning == true}"></i></a></h2>
  </div>
</div>
<div class="panel seizon-timer" ng-if="size == 'small'" ng-class="{'panel-primary': timerRunning == false, 'panel-warning': timerRunning == true}">
  <div class="panel-heading">
    <h2 class="time-remaining">
      <timer ng-model="test" autostart="false" interval="1000">{{hhours}}<small>h</small> {{mminutes}}<small>m</small> {{sseconds}}<small>s</small></timer>
      <a class="btn btn-fab pull-right" ng-click="startStopTimer()" ng-class="{'btn-success': timerRunning == false, 'btn-danger': timerRunning == true}"><i class="fa fa-lg" ng-class="{'fa-play': timerRunning == false, 'fa-stop': timerRunning == true}"></i></a></h2>
  </div>
</div>
