// Footer

.footer {
	$footer-background: $deep-blue;
	$footer-color: white;
	$footer-link-color: transparentize($footer-color, 0.6);
	$footer-disclaimer-color: transparentize($footer-color, 0.6);

	background: $footer-background;
	padding: ($base-spacing * 2) $gutter;
	width: 100%;

	.footer-logo {
		max-width: $max-width;
		margin: 0 auto $base-spacing;

		img {
			height: 3em;
		}
	}

	.footer-links {
		@include clearfix;
		@include outer-container;
		margin-bottom: $base-spacing;

		@include media($medium-screen) {
			// @include span-columns(3);
		}
	}

	ul {
		margin-bottom: $base-spacing * 2;
		padding: 0;

		@include media($medium-screen) {
			@include span-columns(4);
			@include clearfix;
		}
	}

	li {
		line-height: 1.5em;
		list-style: none;

		a {
			color: $footer-link-color;
			text-decoration: none;

			&:focus,
			&:hover {
				color: transparentize($footer-color, 0);
			}
		}

		h3 {
			color: $footer-color;
			font-size: 1em;
			font-weight: 800;
			margin-bottom: 0.4em;
		}
	}

	.disclaimers {
		@include clearfix;
		@include outer-container;
	}

	h5 {
		color: #fff;
	}

	p {
		color: $footer-disclaimer-color;
		font-size: 0.9em;
		line-height: 1.5em;
	}
}
