nav.main-nav {
	ul {
		margin-bottom: 0;
		li {
			line-height: 45px;
			display: inline-block;
			padidng-left: 20px;
			a {
				color: #fff;
			}
			&:not(:last-child) {
				padding-right: 20px;
			}
			&:hover a {
				color: $deep-blue;
			}
			&.active a {
				font-weight: 600;
			}
		}
	}
}