// Page Nav

nav.page-nav {
	background: $green;
	padding: $small-spacing $gutter;
	margin-bottom: ($small-spacing * 2);
	width: 100%;

	.inner {
		@include outer-container;
	}

	.logo {
		display: inline-block;
		// line-height: 1;
		margin: 0;
		padding: 0;

		font-family: $aller-font-family;
		letter-spacing: -0.04em;
		color: $sand;
		font-size: em(30);

		img {
			vertical-align: middle;
			padding-right: em(5);
			height: 42px;
		}
	}

	.menu {
		font-weight: bold;
		text-transform: uppercase;
		border: 2px solid transparentize($sand, 0);
		padding: $small-spacing;
		border-radius: $base-border-radius;
		color: transparentize($sand, 0);
		&:hover,
		&:focus {
			color: transparentize($sand, 0.3);
			border-color: transparentize($sand, 0.3);
		}
	}
}
