/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@import "bootswatch";
/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  padding-top: $navbar-height;
}

hr {
  border-color:  mix($text-color, $body-bg, 30%);
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 12px 0;
}

.no-margin {
  margin: 0 !important;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
