// Header

header.page-header {
	@include outer-container;
	min-height: 80vh;
	padding: em(150) 0;
	border-bottom: 5px solid transparentize($deep-blue, 0.6);

	@include media($medium-screen) {
		background: url(/img/goat-thing.svg) no-repeat bottom left;
		background-size: contain;
	}

	article.main {
		@include media($medium-screen) {
			@include span-columns(6);
			@include shift(6);
		}
	}
}
