// Page Section

section.page-section {
	@include outer-container;
	min-height: 80vh;
	padding: em(150) 0;
	border-bottom: 5px solid transparentize($deep-blue, 0.6);

	&.last {
		border-bottom: none;
	}

	article.main {
		@include media($medium-screen) {
			@include span-columns(6);
		}

		p {
			color: $deep-blue;
		}

	}

	aside.sub {
		@include clearfix;
		@include media($medium-screen) {
			@include span-columns(6);
		}
	}
}
