<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Project Name</label>
          <input type="text" class="form-control" placeholder="Start typing a project name...">
        </div>
        <div class="form-group">
          <label for="">Project Description</label>
          <textarea class="form-control" placeholder="Enter a description of the tasks completed" rows="5"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="time-remaining">0<small>h</small> 0<small>m</small> 0<small>s</small> <a href="#" class="btn btn-success btn-fab pull-right"><i class="fa fa-lg fa-play"></i></a></h2>
          </div>
        </div>
        <p>Or:</p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="start-time">Start Time</label>
              <input type="text" class="form-control" id="start-time" placeholder="eg. 10am">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="end-time">End Time</label>
              <input type="email" class="form-control" id="end-time" placeholder="eg. 5pm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>